@{
    ViewBag.Title = "Confirmação de recuperação de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verifique seu e-mail.
    </p>
    <p class="text-danger">
        Para demonstração, altere sua senha clicando no <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>

