@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ops!";
}

<hgroup>
    <h1 class="text-error">Acesso negado!</h1>
    <h2 class="text-error">Você não tem permissão para acessar este recurso.</h2>
</hgroup>
