@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ops!";
}

<hgroup>
    @{
        if (ViewBag.Msg == null)
        {
            ViewBag.Msg = "Você não tem permissão para acessar este recurso.";
        }
    }
    <h1 class="text-error">Acesso negado!</h1>
    <h2 class="text-error">@ViewBag.Msg</h2>
</hgroup>
