@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ops!";
}

<hgroup>
    <h1 class="text-error">Erro =(.</h1>
    <h2 class="text-error">Ocorreu um erro ao tentar processar sua solicitação. Tente novamente.</h2>
</hgroup>
